body {
    font-family: Poppins, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #45d2f1;
    color: #131313;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 1rem;
    margin: 20px auto;
    max-width: 600px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #45d2f1;
    color: #131313;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
